
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Stock info for <%= name %></h1>
<h2>Stock pirice = <%= price %></h2>
<h2>Market Cap = <%= cap %></h2>
<h2>Change = <%= change %></h2>

</body>
</html>