<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Yay it worked!</h1>
    <h2>Server tme: <%= Time.now %> </h2>
    <h2>The price is <%= price %> yes</h2>
    <h2>The price is <%= price2 %> yes</h2>
</body>

</html>