<h1>Welcome to the Movies App 2!</h1>

<form action="/list" method="get">
    <label for="">What movie you want to know about?</label>
    <input type="text" name="search">
    <button>Get Movie info</button>
</form>

<h2><%= message %></h2>