body {
    color: rgb(101, 101, 101);
    font-size: 14px;
    width: 70%;
    margin: 0 auto;
}

a {
    color: rgb(62, 144, 200);
    text-decoration: none;
}

h1 {
    color: rgb(153, 153, 153);
    font-size: 35px;
    margin: 0 auto;
}

.hero img {
    margin: 0 auto;
    width: 100%
}

.inlineimages {
    display: block;
    margin: 2.5px;
}

div img {
    border: 5px solid rgb(204, 204, 204);
}