<h1>Add a new dish!</h1>

<form action="/upload/dish" method="post">
    <label for="">name</label>
    <input type="text" name="name">
    <label for="">image url</label>
    <input type="text" name="image_url">
    <button>Create</button>
</form>